@model Message
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row col-12">
        <form method="post" asp-action="Create">
            <h1 class="text-primary">Create Message</h1>
            <label asp-for="Content"></label>
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for=Content class="text-danger"></span>
            <hr />
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}