@model IEnumerable<Message>
@{
    ViewData["Title"] = "Messages";
}

<h2>@TempData["success"]</h2>

<a class="btn btn-primary" asp-action="Create">Create Message</a>
<hr />
@foreach (var message in Model)
{
    <h2>@message.Content</h2>
    <br />
    <h3>@message.Created.ToLongDateString()</h3>
    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@message.Id">
        Delete
    </a>
    <br />
}