@model IEnumerable<Message>
@{
    ViewData["Title"] = "Messages";
}

@if (Model.Count() > 0)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <th scope="row">@message.Content</th>
                    <th>@message.Created.ToString()</th>
                    <th>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@message.Id">
                            Delete
                        </a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-secondary" role="alert">
        You have no Messages.
    </div>
}